GridBackground {
    --grid-background-color: rgb(19, 19, 19);
    --line-color: rgba(73, 73, 73, 0.1);
    --thick-line-color: rgba(100, 100, 100, 0.3);
    --spacing: 10;
}

.graphView {
    padding-top: 45px;
}

.graphView > VisualElement {
    overflow: hidden;
}

.modules-tab--graph--composed-of-container
{
    padding: 8px 0 8px 8px;
    background-color: rgba(46, 46, 46, 0.8039);
    border-bottom-color: #474747;
    border-bottom-width: 1px;
}
