CreateRefWidget {
    flex-direction: row;
    margin: 3px 0px;
    align-items: center;
}

CreateRefWidget > IntegerField {
    width: 60px;
}

.modules--entity-drawer--choose-entity-btn {
    width: 100px;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 5px;
}