.modules-search-field {
    margin: 10px 300px 10px 10px;
}

.modules-search-field > * > .unity-text-element--inner-input-field-component {
    font-size: 14px;
}

.modules-search-field > .unity-text-field__label {
    font-size: 16px;
    min-width: 0;
    margin-right: 15px;
}

.modules-pin-btn {
    margin: 0 5px;
    padding: 4px 5px;
    cursor: link;
}