DebugWindowTopBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    flex-direction: row;
}

.modules--debug-window--worlds-switcher {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.modules--debug-window--worlds-switcher > .unity-popup-field__input {
    height: 30px;
    min-width: 100px;
    padding-left: 10px;
}

.modules--debug-window--tabs-panel {
    flex-direction: row;
    margin: 5px 5px 0 0;
    padding: 5px;
    background-color: #646464;
    justify-content: space-around;
    align-self: flex-end;
}

.modules--debug-window--rise-event-btn {
    background-color: #333333;
}

.modules--debug-window--rise-event-btn:hover {
    background-color: #646464;
}

DebugWindowPauseWidget {
    align-self: center;
    justify-content: center;
    flex-direction: row;
    border-width: 2px;
    border-color: #646464;
    padding: 5px;
}